body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.video-wrapper {
  aspect-ratio: 20 / 12;
}

.video-wrapper2 {
  aspect-ratio: 16 / 9;
  margin-top: -20px;
}

.video-wrapper iframe {
  width: 100%;
  height: 100%;
}

.video-wrapper2 iframe {
  width: 80%;
  height: 80%;
}